<h1 style="text-align: center;">CORONAVIRUS </h1>


<div style="text-align: center;">
  <button  data-target="modal-global" class="btnImagen btn modal-trigger">
    <img  src="https://4.bp.blogspot.com/-gq7YflXc_2A/WdPHB7RYmeI/AAAAAAAAAWk/VWedaloHfBAz2dpJp9GHxSVww1cPHrS0ACLcBGAs/s1600/9aba5722a14ee7d14c7aae9b5d78ba37.png">
  </button>

</div>
<div style="text-align: center;">
  <h4>Globalmaente</h4>
</div>



<div class="container" style="text-align: center;">
  <ul class="list-image" >
    <li *ngFor="let pais of PaisesMundo">
      <div>
        <button data-target="modal-paises" class="btnImagen btn modal-trigger" (click)="onBuscarPorPais(pais.name)">
          <img src={{pais.flag}} > <!-- notice the "circle" class -->
        </button>

      </div>
      <div>
        <h4 style="width: 100px;margin-left: 50px;">{{pais.name}}</h4>
      </div>
    </li>
  </ul>
</div>


 <!-- Modal Structure -->
 <div id="modal-paises" class="modal" style="text-align: center;">
   <div class="modal-content">
    <!--<h4>{{infoPaisVirus.location}}</h4>-->      
            <h4> Confirmados: </h4>
            <h5 >{{infoPaisVirus.confirmed}}</h5> 
              <br>
            <h4> Muertos: </h4>
            <h5 >{{infoPaisVirus.deaths}}</h5> 
            <br>
    
            <h4> Aliviados: </h4>
            <h5 >{{infoPaisVirus.recovered}}</h5> 
    </div> 
    </div>
  <!-- Modal Structure -->
  <div id="modal-global" class="modal" style="text-align: center;">
    <div class="modal-content">
     <!--<h4>{{infoPaisVirus.location}}</h4>-->      
             <h4> Confirmados: </h4>
             <h5 >{{infoTotalVirus.confirmed}}</h5> 
               <br>
             <h4> Muertos: </h4>
             <h5 >{{infoTotalVirus.deaths}}</h5> 
             <br>
     
             <h4> Aliviados: </h4>
             <h5 >{{infoTotalVirus.recovered}}</h5>  
     </div> 
   </div>




  