
.container{
width: max-content;
    top: 20px;
  height: 250px;
  display: flex;
  margin: auto; 
  position: relative;
}

.container .list-image{
    display: flex;
    flex-wrap: wrap;
  }
  .container .list-image li div button{
    position: relative;
    margin: 20px 50px 20px 50px;
  }
  


  img{
    width: 150px;
    height: 150px;
    margin-left: -16px;
    border-radius: 100px;
  }


  .btnImagen{
    width: 150px;
    height: 150px;
    border-radius:  100px;
  }

  .img :hover{
    background-color: white;
}


  button :hover{
      background-color: white;
  }

  button {
    background-color: white;
}